DATABASE_URL=jdbc:postgresql://idp-postgres:{{ db_port }}/{{ db_name }}
DB_USERNAME={{ db_user }}
DB_PASSWORD={{ lookup('env', 'DB_PASSWORD') }}
JWT_SECRET={{ lookup('env', 'JWT_SECRET') }}
SPRING_PROFILES_ACTIVE=prod
